html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  color: white;
  background: #212529;
  padding-bottom: 40px;
}

.hcbg {
  background-color: #f65456;
}

/* banner links */
.guildlinks {
    position: relative;
    padding: 3px 3px;
    border-radius: 60px;
}

.guildlinks img {
    width: 30px;
    height: 30px;
    filter: sepia(100%);
}

.guildlinks a {
    margin-right: 10px;
}

.guildlinks a:first-of-type {
    margin-left: 10px;
}

span.squiggle {
    font-family: 'Dancing Script', cursive;
}