span.class {
    padding-right: 5px;
}

/* table styles */

table.roster tr, table.roster td {
    border-bottom: 0px;
}

table.roster tr.striped, table.table-dark tr.striped {
    --bs-table-bg: #2c3034 !important;
}

table.roster tr.limited, table.table-dark tr.limited {
    --bs-table-bg: #352206 !important;
}

table.roster .icon {
    width: 25x;
    height: 25px;
    margin-right: 3px;
}

table.roster.tracker .icon {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
    -webkit-transition: all 2s;
}

table.roster th, table.buffs th {
    color: #afbfcd;
    border-color: #f65456;
}

table.roster td, table.buffs td {
    color: #afbfcd;
}

table tr.death-knight td.class, span.death-knight {
    color: #C41E3A;
}

table tr.demon-hunter td.class, span.demon-hunter {
    color: #A330C9;
}

table tr.druid td.class, span.druid   {
    color: #FF7C0A;
}

table tr.evoker td.class, span.evoker {
    color: #33937F	;
}

table tr.hunter td.class, span.hunter {
    color: #AAD372;
}

table tr.mage td.class, span.mage {
    color: #3FC7EB;
}

table tr.monk td.class, span.monk {
    color: #00FF98;
}

table tr.paladin td.class, span.paladin {
    color: #F48CBA;
}

table tr.priest td.class, span.priest {
    color: white;
}

table tr.rogue td.class, span.rogue {
    color: #FFF468;
}

table tr.shaman td.class, span.shaman {
    color: #0070DD;
}

table tr.warlock td.class, span.warlock {
    color: #8788EE;
}

table tr.warrior td.class, span.warrior {
    color: #C69B6D;
}
