body {
    padding-bottom: 40px;;
}

/* banner links */
.guildlinks {
    position: relative;
    padding: 3px 3px;
    border-radius: 60px;
}

.guildlinks img {
    width: 30px;
    height: 30px;
    filter: sepia(100%);
}

.guildlinks a {
    margin-right: 10px;
}

.guildlinks a:first-of-type {
    margin-left: 10px;
}

span.squiggle {
    font-family: 'Dancing Script', cursive;
}

/* table styles */

table.roster tr, table.roster td {
    border-bottom: 0px;
}

table.roster tr.striped, table.table-dark tr.striped {
    --bs-table-bg: #2c3034 !important;
}

table.roster .icon {
    width: 25x;
    height: 25px;
    margin-right: 3px;
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
    -webkit-transition: all 2s;
}

table th {
    color: #afbfcd;
    border-color: #89ffda;
}

table td {
    color: #afbfcd;
}

table tr.death-knight td.class {
    color: #C41E3A;
}

table tr.demon-hunter td.class {
    color: #A330C9;
}

table tr.druid td.class {
    color: #FF7C0A;
}

table tr.evoker td.class {
    color: #33937F	;
}

table tr.hunter td.class {
    color: #AAD372;
}

table tr.mage td.class {
    color: #3FC7EB;
}

table tr.monk td.class {
    color: #00FF98;
}

table tr.paladin td.class {
    color: #F48CBA;
}

table tr.priest td.class {
    color: white;
}

table tr.rogue td.class {
    color: #FFF468;
}

table tr.shaman td.class {
    color: #0070DD;
}

table tr.warlock td.class {
    color: #8788EE;
}

table tr.warrior td.class {
    color: #C69B6D;
}




